/* #check_create_post {
    display: none !important;
} */

#input:not(checked) ~ .form-create-post {
    display: none;
    transition: 1s;
}
#input:checked ~ .form-create-post {
    display: block;
    transition: 1s;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

    .single-notification {
        margin-bottom: 10px; 
        border: solid red 2px;
        padding: 8px;
    }

    .container_post_single {
        margin-bottom: 30px;
        border: solid blue 2px;
        padding: 10px;
        width: 60vw;
    }