/* #check_create_post {
    display: none !important;
} */

/* #input:not(checked) ~ .form-create-post {
    display: none;
    transition: 1s;
}
#input:checked ~ .form-create-post {
    display: block;
    transition: 1s;
} */
li {
    list-style: none;
}


header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

    header > img {
        height: 100%;
        object-fit: contain;
    }

    .search-bar {
        display: flex;
        gap: 10%;
        align-items: center;
    }
        .search-bar > input {
            height: 30%;
        }
    nav {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


.main {
    display: flex;
    flex-direction: row-reverse;
}

    .results-display {
        display: none;
    }

    .single-friends {
        margin-bottom: 10px; 
        border: solid red 2px;
        padding: 8px;
    }

    .container_post_single {
        margin-bottom: 30px;
        border: solid blue 2px;
        padding: 10px;
        width: 60vw;
    }

        .profil-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .container-all-comments {
            border: solid rgb(30, 255, 0) 2px;
            padding: 5px;
        }

            .container_comment_single{
            margin-bottom: 15px;
            border: solid rgb(219, 100, 219) 2px;
            padding: 5px;
            }

.search-result {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

    .search-result > img {
        height: 100%;
        object-fit: contain;
    }

.profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 40vw;
}

    .profile-container > img {
        height: 50%;
        object-fit: cover;
    }

    .signup_form {
        display: flex;
        width: fit-content;
        flex-flow: column wrap;
        margin: auto;
    }
    .signup_form div {
        display: block;
        padding: 15px;
        justify-content: center;
    }
    .signup_form_wrapper{
        display: flex;
        line-height: 30px;
      }
    
    .signup_form label {
            gap: 10px;
            display: block;
    }
    
    hr{
        width: 100%;
        margin-top: 10px;
    }
    
    
    .conditions {
        display: flex !important;
        gap: 17px
    }
    .already_in_container{
        display: flex !important;
        margin: auto;
        padding: 3px;
        width:fit-content;
        flex-flow: column wrap;
    }
    .already_in_button {
        display: flex;
        margin: auto;
    }
    
    button {
        display: flex;
        margin: auto;
        width: max-content;
    }
    
    .already_in{
        margin: auto;
    }