.signup_form {
    display: flex;
    width: fit-content;
    flex-flow: column wrap;
    margin: auto;
}
.signup_form div {
    display: block;
    padding: 15px;
    justify-content: center;
}
.signup_form_wrapper{
    display: flex;
    line-height: 30px;
  }

.signup_form label {
        gap: 10px;
        display: block;
}

hr{
    width: 100%;
    margin-top: 10px;
}


.conditions {
    display: flex !important;
    gap: 17px
}
.already_in_container{
    display: flex !important;
    margin: auto;
    padding: 3px;
    width:fit-content;
    flex-flow: column wrap;
}
.already_in_button {
    display: flex;
    margin: auto;
}

button {
    display: flex;
    margin: auto;
    width: max-content;
}

.already_in{
    margin: auto;
}